In [5]:
import pandas as pd

result_set = "results/200_discharge_cosine"

In [6]:
for i in range(4):
    df = pd.read_csv(f"{result_set}/{i}_20_200.csv")

    display(df)

    print(f"Correct top 5    {df['inTop5'].sum() / 193}")
    print(f"Correct category {df['correct'].sum() / 193}")

    column_counts = df["original"].value_counts(dropna=False)
    print(column_counts)

,Unnamed: 0,record,original,predict,top5,inTop5,correct,mmr
0,0,0,0.0,[[ 0.06622067 5. ]\n [ 0.07355911 8. ...,[ 5. 8. 9. 10. 11.],0,0,0.000000
1,1,1,0.0,[[ 0.06225473 9. ]\n [ 0.0766679 12. ...,[ 9. 12. 17. 19. 20.],0,1,0.000000
2,2,2,0.0,[[ 0.06826368 9. ]\n [ 0.07106781 10. ...,[ 9. 10. 19. 21. 23.],0,0,0.000000
3,3,3,0.0,[[ 0.0695197 5. ]\n [ 0.07522159 9. ...,[ 5. 9. 10. 16. 18.],0,0,0.000000
4,4,4,10.0,[[ 0.0631779 9. ]\n [ 0.0692524 10. ...,[ 9. 10. 16. 17. 19.],1,1,0.500000
...,...,...,...,...,...,...,...,...
188,188,195,10.0,[[ 0.05493134 5. ]\n [ 0.05531865 7. ...,[ 5. 7. 9. 10. 12.],1,1,0.250000
189,189,196,10.0,[[ 0.06632781 16. ]\n [ 0.08187383 17. ...,[16. 17. 18. 19. 23.],0,0,0.000000
190,190,197,10.0,[[ 0.06612535 0. ]\n [ 0.07564616 5. ...,[ 0. 5. 7. 9. 10.],1,1,0.200000
191,191,198,0.0,[[ 0.07662661 5. ]\n [ 0.08056024 12. ...,[ 5. 12. 16. 18. 20.],0,1,0.000000
192,192,199,10.0,[[ 0.0643366 5. ]\n [ 0.06873019 9. ...,[ 5. 9. 10. 14. 16.],1,1,0.333333

Correct top 5    0.32642487046632124
Correct category 0.42487046632124353
original
0.0     97
10.0    96
Name: count, dtype: int64

,Unnamed: 0,record,original,predict,top5,inTop5,correct,mmr
0,0,0,0.0,[[4.36296264e-03 3.00000000e+00]\n [4.38374111...,[3. 5. 7. 8. 9.],0,1,0.000000
1,1,1,0.0,[[4.15706635e-03 5.00000000e+00]\n [4.95052338...,[ 5. 7. 9. 10. 11.],0,0,0.000000
2,2,2,0.0,[[4.67908382e-03 9.00000000e+00]\n [6.37246881...,[ 9. 10. 18. 23.],0,0,0.000000
3,3,3,0.0,[[4.21953201e-03 7.00000000e+00]\n [4.26208973...,[ 7. 9. 10. 11. 12.],0,0,0.000000
4,4,4,10.0,[[4.35858965e-03 3.00000000e+00]\n [4.48065996...,[ 3. 7. 9. 10. 11.],1,1,0.250000
...,...,...,...,...,...,...,...,...
188,188,195,10.0,[[3.06272507e-03 5.00000000e+00]\n [4.20880318...,[ 5. 7. 8. 9. 16.],0,0,0.000000
189,189,196,10.0,[[5.58888912e-03 1.60000000e+01]\n [5.61511517...,[16. 17. 18. 19. 21.],0,0,0.000000
190,190,197,10.0,[[4.26959450e-03 8.00000000e+00]\n [4.50956821...,[ 8. 9. 10. 11. 13.],1,1,0.333333
191,191,198,0.0,[[5.18423319e-03 7.00000000e+00]\n [5.63961267...,[ 7. 9. 11. 12. 13.],0,0,0.000000
192,192,199,10.0,[[4.03692325e-03 5.00000000e+00]\n [4.73655211...,[ 5. 7. 9. 10. 11.],1,1,0.250000

Correct top 5    0.3160621761658031
Correct category 0.37305699481865284
original
0.0     97
10.0    96
Name: count, dtype: int64

,Unnamed: 0,record,original,predict,top5,inTop5,correct,mmr
0,0,0,0.0,[[2.80979474e-02 3.00000000e+00]\n [3.01799774...,[3. 5. 7. 8. 9.],0,1,0.000000
1,1,1,0.0,[[ 0.02418941 9. ]\n [ 0.02831723 16. ...,[ 9. 16. 17. 20. 23.],0,1,0.000000
2,2,2,0.0,[[ 0.02558637 3. ]\n [ 0.02660865 8. ...,[ 3. 8. 10. 11. 13.],0,0,0.000000
3,3,3,0.0,[[2.85425782e-02 7.00000000e+00]\n [3.06115103...,[ 7. 9. 10. 11. 17.],0,0,0.000000
4,4,4,10.0,[[2.52885520e-02 5.00000000e+00]\n [2.84714401...,[ 5. 9. 10. 12. 16.],1,1,0.333333
...,...,...,...,...,...,...,...,...
188,188,195,10.0,[[2.28400230e-02 9.00000000e+00]\n [2.39621401...,[ 9. 10. 13. 16. 18.],1,1,0.500000
189,189,196,10.0,[[ 0.02976951 9. ]\n [ 0.03029186 16. ...,[ 9. 16. 18. 23.],0,0,0.000000
190,190,197,10.0,[[1.98603570e-02 1.00000000e+00]\n [2.98773199...,[1. 3. 5. 7. 8.],0,0,0.000000
191,191,198,0.0,[[ 0.02634823 7. ]\n [ 0.02755601 9. ...,[ 7. 9. 10. 18. 19.],0,0,0.000000
192,192,199,10.0,[[1.93650723e-02 5.00000000e+00]\n [2.64999270...,[ 5. 7. 8. 9. 10.],1,1,0.200000

Correct top 5    0.3005181347150259
Correct category 0.47150259067357514
original
0.0     97
10.0    96
Name: count, dtype: int64

,Unnamed: 0,record,original,predict,top5,inTop5,correct,mmr
0,0,0,0.0,[[ 0.11571482 5. ]\n [ 0.11867819 7. ...,[ 5. 7. 8. 9. 10.],0,0,0.000000
1,1,1,0.0,[[ 0.13310403 14. ]\n [ 0.13351822 16. ...,[14. 16. 17. 20. 21.],0,1,0.000000
2,2,2,0.0,[[ 0.09932202 11. ]\n [ 0.11368254 12. ...,[11. 12. 17. 18. 20.],0,0,0.000000
3,3,3,0.0,[[ 0.11508322 7. ]\n [ 0.12651539 9. ...,[ 7. 9. 10. 11. 16.],0,0,0.000000
4,4,4,10.0,[[ 0.10931814 1. ]\n [ 0.13158798 9. ...,[ 1. 9. 12. 17. 18.],0,0,0.000000
...,...,...,...,...,...,...,...,...
188,188,195,10.0,[[ 0.09323245 7. ]\n [ 0.10096401 9. ...,[ 7. 9. 13. 14. 16.],0,0,0.000000
189,189,196,10.0,[[ 0.14565599 12. ]\n [ 0.14613551 16. ...,[12. 16. 17. 20. 23.],0,0,0.000000
190,190,197,10.0,[[ 0.1090599 7. ]\n [ 0.11302969 8. ...,[ 7. 8. 9. 10. 11.],1,1,0.250000
191,191,198,0.0,[[ 0.11968577 9. ]\n [ 0.16341817 10. ...,[ 9. 10. 19. 23. 24.],0,0,0.000000
192,192,199,10.0,[[ 0.1324231 7. ]\n [ 0.13523805 9. ...,[ 7. 9. 10. 11. 12.],1,1,0.333333

Correct top 5    0.25906735751295334
Correct category 0.34196891191709844
original
0.0     97
10.0    96
Name: count, dtype: int64