In [3]:
import pandas as pd
import numpy as np
from tables import schema_dicts

result_set = "results/1800_nurse_phy_cosine"

In [4]:
for i in range(4):
    print(f'======== {schema_dicts[i]["name"]} ==========')
    df = pd.read_csv(f"{result_set}/{i}_20_1800.csv", index_col=0)
    # just to make it easier to read
    del df['predict']

    def array_from_string(x):
        return np.fromstring(x.strip('[]'), sep=' ')

    def tp(orig, top5):
        return 1 if orig == 10 and 10 in top5 else 0

    def fp(orig, top5):
        return 1 if orig == 0 and 10 in top5 else 0

    def fn(orig, top5):
        return 1 if orig == 10 and 10 not in top5 else 0

    df['top5'] = df['top5'].map(array_from_string)
    df['tp'] = df.apply(lambda x: tp(orig=x['original'], top5=x['top5']), axis=1)
    df['fp'] = df.apply(lambda x: fp(orig=x['original'], top5=x['top5']), axis=1)
    df['fn'] = df.apply(lambda x: fn(orig=x['original'], top5=x['top5']), axis=1)

    display(df)

    TP = df['tp'].sum()
    FP = df['fp'].sum()
    FN = df['fn'].sum()

    print(f"TP    {TP:.2f}")
    print(f"FP    {FP:.2f}")
    print(f"FN    {FN:.2f}")

    precision = (TP / (TP+FP))
    recall = (TP / (TP+FN))
    print(f"P    {precision:.2f}")
    print(f"R    {recall:.2f}")

    f1 = (2*precision*recall) / (precision+recall)
    print("----------------")
    print(f"F1    {f1:.2f}")
    print("----------------")

    # print(f"Correct top 5    {df['inTop5'].sum() / len(df)}")
    # print(f"Correct category {df['correct'].sum() / len(df)}")

    column_counts = df["original"].value_counts(dropna=False)
    # print(column_counts)
    print(f'==========================================')
    print("")

======== Distilbert ==========

,record,original,top5,inTop5,correct,mmr,tp,fp,fn
0,0,0,"[3.0, 5.0, 7.0, 9.0, 10.0]",0,0,0.0,0,1,0
1,1,0,"[5.0, 9.0, 10.0, 13.0, 16.0]",0,0,0.0,0,1,0
2,2,0,"[5.0, 7.0, 8.0, 9.0, 10.0]",0,0,0.0,0,1,0
3,3,10,"[5.0, 7.0, 9.0, 16.0, 18.0]",0,0,0.0,0,0,1
4,4,0,"[9.0, 10.0, 11.0, 15.0, 17.0]",0,0,0.0,0,1,0
...,...,...,...,...,...,...,...,...,...
1795,1795,0,"[3.0, 5.0, 7.0, 9.0, 10.0]",0,0,0.0,0,1,0
1796,1796,0,"[5.0, 7.0, 9.0, 10.0, 11.0]",0,0,0.0,0,1,0
1797,1797,0,"[5.0, 7.0, 9.0, 10.0, 11.0]",0,0,0.0,0,1,0
1798,1798,0,"[7.0, 9.0, 10.0, 11.0, 16.0]",0,0,0.0,0,1,0
1799,1799,0,"[5.0, 7.0, 9.0, 10.0, 11.0]",0,0,0.0,0,1,0

TP    462.00
FP    818.00
FN    338.00
P    0.36
R    0.58
----------------
F1    0.44
----------------
==========================================

======== Roberta ==========

,record,original,top5,inTop5,correct,mmr,tp,fp,fn
0,0,0,"[1.0, 3.0, 5.0, 7.0, 8.0]",0,1,0.0,0,0,0
1,1,0,"[5.0, 7.0, 8.0, 9.0, 10.0]",0,0,0.0,0,1,0
2,2,0,"[3.0, 5.0, 7.0, 8.0, 9.0]",0,1,0.0,0,0,0
3,3,10,"[5.0, 9.0, 11.0, 16.0, 18.0]",0,0,0.0,0,0,1
4,4,0,"[3.0, 5.0, 7.0, 9.0, 10.0]",0,0,0.0,0,1,0
...,...,...,...,...,...,...,...,...,...
1795,1795,0,"[3.0, 5.0, 7.0, 8.0, 9.0]",0,1,0.0,0,0,0
1796,1796,0,"[5.0, 7.0, 8.0, 9.0, 10.0]",0,0,0.0,0,1,0
1797,1797,0,"[5.0, 7.0, 8.0, 9.0, 10.0]",0,0,0.0,0,1,0
1798,1798,0,"[1.0, 5.0, 7.0, 8.0, 9.0]",0,1,0.0,0,0,0
1799,1799,0,"[5.0, 8.0, 9.0, 10.0, 11.0]",0,0,0.0,0,1,0

TP    468.00
FP    541.00
FN    332.00
P    0.46
R    0.58
----------------
F1    0.52
----------------
==========================================

======== Biobert ==========

,record,original,top5,inTop5,correct,mmr,tp,fp,fn
0,0,0,"[3.0, 5.0, 7.0, 9.0, 10.0]",0,0,0.0,0,1,0
1,1,0,"[3.0, 5.0, 7.0, 9.0, 10.0]",0,0,0.0,0,1,0
2,2,0,"[3.0, 5.0, 7.0, 9.0, 10.0]",0,0,0.0,0,1,0
3,3,10,"[7.0, 10.0, 11.0, 17.0, 18.0]",1,1,0.5,1,0,0
4,4,0,"[5.0, 7.0, 9.0, 13.0, 15.0]",0,1,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...
1795,1795,0,"[3.0, 5.0, 7.0, 9.0, 10.0]",0,0,0.0,0,1,0
1796,1796,0,"[3.0, 5.0, 7.0, 9.0, 11.0]",0,0,0.0,0,0,0
1797,1797,0,"[3.0, 5.0, 7.0, 9.0, 10.0]",0,0,0.0,0,1,0
1798,1798,0,"[3.0, 7.0, 9.0, 10.0, 11.0]",0,0,0.0,0,1,0
1799,1799,0,"[5.0, 7.0, 11.0, 15.0, 16.0]",0,0,0.0,0,0,0

TP    432.00
FP    683.00
FN    368.00
P    0.39
R    0.54
----------------
F1    0.45
----------------
==========================================

======== Clinicalbert ==========

,record,original,top5,inTop5,correct,mmr,tp,fp,fn
0,0,0,"[7.0, 8.0, 9.0, 10.0, 11.0]",0,0,0.0,0,1,0
1,1,0,"[7.0, 8.0, 9.0, 10.0, 13.0]",0,0,0.0,0,1,0
2,2,0,"[3.0, 7.0, 8.0, 9.0, 10.0]",0,0,0.0,0,1,0
3,3,10,"[16.0, 18.0, 19.0, 20.0, 23.0]",0,0,0.0,0,0,1
4,4,0,"[7.0, 8.0, 9.0, 10.0, 16.0]",0,0,0.0,0,1,0
...,...,...,...,...,...,...,...,...,...
1795,1795,0,"[1.0, 3.0, 5.0, 7.0, 8.0]",0,1,0.0,0,0,0
1796,1796,0,"[7.0, 9.0, 10.0, 11.0, 12.0]",0,0,0.0,0,1,0
1797,1797,0,"[8.0, 9.0, 10.0, 16.0, 18.0]",0,0,0.0,0,1,0
1798,1798,0,"[8.0, 9.0, 10.0, 11.0, 12.0]",0,0,0.0,0,1,0
1799,1799,0,"[5.0, 7.0, 8.0, 9.0, 10.0]",0,0,0.0,0,1,0

TP    512.00
FP    830.00
FN    288.00
P    0.38
R    0.64
----------------
F1    0.48
----------------
==========================================