In [12]:
import pandas as pd

In [14]:
for i in range(4):
    df = pd.read_csv(f"datasets/{i}_20_200.csv")

    display(df)

    print(f"Correct top 5    {df['inTop5'].sum() / 190}")
    print(f"Correct category {df['correct'].sum() / 190}")

    column_counts = df["original"].value_counts(dropna=False)
    print(column_counts)

,Unnamed: 0,record,original,predict,top5,inTop5,correct,mmr
0,0,0,10.0,[[ 5.21877813 7. ]\n [ 6.74633741 9. ...,[ 7. 9. 15. 17. 19.],0,0,0.0
1,1,1,10.0,[[ 6.11773813 16. ]\n [ 6.84978199 17. ...,[16. 17. 19. 20. 21.],0,0,0.0
2,2,3,0.0,[[ 5.60898685 8. ]\n [ 6.89469337 9. ...,[ 8. 9. 10. 19. 20.],0,0,0.0
3,3,4,0.0,[[ 4.64543056 10. ]\n [ 7.1580224 13. ...,[10. 13. 16. 17. 18.],0,0,0.0
4,4,5,10.0,[[ 5.81307592 5. ]\n [ 6.00656796 7. ...,[ 5. 7. 9. 20. 21.],0,0,0.0
...,...,...,...,...,...,...,...,...
185,185,195,10.0,[[ 7.44503498 21. ]\n [ 8.3460989 23. ...,[21. 23. 34.],0,0,0.0
186,186,196,10.0,[[ 8.53961849 11. ]\n [ 9.51594218 15. ...,[11. 15. 23. 24. 34.],0,0,0.0
187,187,197,10.0,[[ 6.18403816 9. ]\n [ 6.67203617 10. ...,[ 9. 10. 17. 18. 19.],1,1,0.5
188,188,198,10.0,[[ 7.2419831 5. ]\n [ 7.61581707 9. ...,[ 5. 9. 13. 18. 20.],0,0,0.0
189,189,199,10.0,[[ 5.25964355 0. ]\n [ 6.76938438 5. ...,[ 0. 5. 9. 16. 17.],0,0,0.0

Correct top 5    0.2631578947368421
Correct category 0.3631578947368421
original
0.0     108
10.0     82
Name: count, dtype: int64

,Unnamed: 0,record,original,predict,top5,inTop5,correct,mmr
0,0,0,10.0,[[ 1.47593236 5. ]\n [ 1.47682714 8. ...,[ 5. 8. 9. 18. 19.],0,0,0.000000
1,1,1,10.0,[[ 1.23374786 5. ]\n [ 1.33495283 7. ...,[ 5. 7. 10. 13. 17.],1,1,0.333333
2,2,3,0.0,[[ 1.39733791 5. ]\n [ 1.56178832 9. ...,[ 5. 9. 20. 21. 24.],0,1,0.000000
3,3,4,0.0,[[ 0.81531757 5. ]\n [ 1.02424236 7. ...,[ 5. 7. 8. 9. 10.],0,0,0.000000
4,4,5,10.0,[[ 1.15917933 7. ]\n [ 1.31709337 8. ...,[ 7. 8. 10. 11. 18.],1,1,0.333333
...,...,...,...,...,...,...,...,...
185,185,195,10.0,[[ 1.66407847 9. ]\n [ 1.8371383 18. ...,[ 9. 18. 23. 24.],0,0,0.000000
186,186,196,10.0,[[ 0.94542861 8. ]\n [ 1.2955085 9. ...,[ 8. 9. 10. 13. 18.],1,1,0.333333
187,187,197,10.0,[[ 1.19229722 5. ]\n [ 1.26355863 7. ...,[ 5. 7. 8. 9. 10.],1,1,0.200000
188,188,198,10.0,[[ 1.72751927 7. ]\n [ 1.73673415 9. ...,[ 7. 9. 10. 12. 15.],1,1,0.333333
189,189,199,10.0,[[ 1.1567052 7. ]\n [ 1.58201557 8. ...,[ 7. 8. 9. 16. 17.],0,0,0.000000

Correct top 5    0.3
Correct category 0.4105263157894737
original
0.0     108
10.0     82
Name: count, dtype: int64

,Unnamed: 0,record,original,predict,top5,inTop5,correct,mmr
0,0,0,10.0,[[ 5.34053802 5. ]\n [ 5.81205511 9. ...,[ 5. 9. 10. 18. 20.],1,1,0.333333
1,1,1,10.0,[[ 4.23193789 5. ]\n [ 5.23229567 9. ...,[ 5. 9. 11. 16. 18.],0,0,0.000000
2,2,3,0.0,[[ 4.6186738 7. ]\n [ 5.24032688 11. ...,[ 7. 11. 18. 19. 20.],0,0,0.000000
3,3,4,0.0,[[ 3.20803976 1. ]\n [ 3.26468992 5. ...,[ 1. 5. 8. 9. 10.],0,0,0.000000
4,4,5,10.0,[[ 3.67687273 7. ]\n [ 5.22973895 9. ...,[ 7. 9. 10. 17. 18.],1,1,0.333333
...,...,...,...,...,...,...,...,...
185,185,195,10.0,[[ 5.98362684 13. ]\n [ 6.83017445 19. ...,[13. 19. 23.],0,0,0.000000
186,186,196,10.0,[[ 5.81861019 7. ]\n [ 6.66523457 10. ...,[ 7. 10. 16. 19. 21.],1,1,0.500000
187,187,197,10.0,[[ 5.24228001 5. ]\n [ 5.40198612 7. ...,[ 5. 7. 9. 10. 16.],1,1,0.250000
188,188,198,10.0,[[ 4.78891802 3. ]\n [ 5.53500271 5. ...,[ 3. 5. 7. 9. 16.],0,0,0.000000
189,189,199,10.0,[[ 6.05705357 5. ]\n [ 6.0626421 16. ...,[ 5. 16. 17. 18. 19.],0,0,0.000000

Correct top 5    0.2789473684210526
Correct category 0.4473684210526316
original
0.0     108
10.0     82
Name: count, dtype: int64

,Unnamed: 0,record,original,predict,top5,inTop5,correct,mmr
0,0,0,10.0,[[ 8.24888992 7. ]\n [ 8.25377623 9. ...,[ 7. 9. 10. 11. 17.],1,1,0.333333
1,1,1,10.0,[[ 3.51652241 7. ]\n [ 7.05196309 9. ...,[ 7. 9. 10. 12. 13.],1,1,0.333333
2,2,3,0.0,[[ 8.19675064 9. ]\n [ 8.3816309 18. ...,[ 9. 18. 19. 23. 24.],0,1,0.000000
3,3,4,0.0,[[ 8.46995481 0. ]\n [10.61148739 1. ...,[0. 1. 3. 5. 9.],1,1,1.000000
4,4,5,10.0,[[ 6.38571858 9. ]\n [ 8.05599165 10. ...,[ 9. 10. 11. 16. 17.],1,1,0.500000
...,...,...,...,...,...,...,...,...
185,185,195,10.0,[[10.03747368 10. ]\n [11.768857 16. ...,[10. 16. 23. 34.],1,1,1.000000
186,186,196,10.0,[[ 6.12736416 7. ]\n [ 6.99923611 8. ...,[ 7. 8. 15. 23.],0,0,0.000000
187,187,197,10.0,[[ 6.98064518 7. ]\n [ 7.95282936 9. ...,[ 7. 9. 10. 12. 19.],1,1,0.333333
188,188,198,10.0,[[ 7.77630901 3. ]\n [ 8.13549423 9. ...,[ 3. 9. 15. 16. 23.],0,0,0.000000
189,189,199,10.0,[[11.85431862 9. ]\n [12.53178167 10. ...,[ 9. 10. 16. 17. 19.],1,1,0.500000

Correct top 5    0.2894736842105263
Correct category 0.3894736842105263
original
0.0     108
10.0     82
Name: count, dtype: int64